html {
  background-color: #FDEBD0;
}
h1 {
  text-align: center;
  color: #2E4053 ;
}
p {
  text-align: center;
  color: '#2E4053';
}
.profile {
  color: #7F8C8D;
}
.age {
  justify-content: center;
  display: inherit;
  margin: auto;
}
.description {
  display: inherit;
  margin: auto;
  text-align: center;
}
.image{
  text-align: center;
  margin: auto;
}

button {
  margin:auto;
  display:block;
  margin-top: 120px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.form {
    justify-content: center;
    text-align: center;
    margin:auto; 
    display: block;
}
.Gender {
  justify-content: center;
  display: inherit;
  margin: auto;
  text-align: center;
}